:root{
  --cor-primaria: #674baf;
  --cor-secundaria: #e882e8;
}

body{
    background-image: url(../imagem/bg-desktop.svg);
    background-color: var(--cor-primaria);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.cabecalho{
    margin: 25px 45px;
    padding-left: 20px;
}

.logo{
   max-width: 200px; 
}

.container{
    display: flex;
    justify-content: center;
    margin: 0 30px 0 60px  ;
    gap: 20px;
}

.container .ilustracao{
    max-width: 640px;
}

.container .informacao{
    padding: 20px;
    margin: 20px 0 0 10px ;
}

.container .informacao .titulo{
    color: #ffffff;
    font-family: "poppins";
    font-size: 30px;
    font-weight: 600;
    width: 70%;
}

.container .informacao .descricao{
    color: #ffffff;
    font-family: "open sans";
    font-size: 15px;
    font-weight: 400;
    width:80%;
    margin-bottom: 30px;
}

.container .informacao .registrar{
    color: var(--cor-primaria);
    font-family: "poppins";
    font-size: 15px;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #2e2e2e;
    border: none;
    cursor:pointer;
}

.container .informacao .registrar:hover{
    background-color:var(--cor-secundaria);
    color: #ffffff;
}

.rodape{
    display: flex;
    justify-content:flex-end;
    gap: 12px;
    margin-right: 20px;
    
}

.rodape .rede-social{
    border: solid 1px #ffffff;
    border-radius: 20px;
    padding: 5px;
    cursor:pointer;
}

.rodape .rede-social:hover{
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}
